# Coercing Data

### Introduction

In the past lessons, we've seen how we can use pandas to select specific columns, and then feed them into a machine learning model.  As we know, we can only feed numerical data into a machine learning model.  In this lesson, we'll learn how to take data that starts off as text, and convert it into numbers.

### Exploring DataTypes

Let's take another look at our movies dataframe.

In [2]:
import pandas as pd

In [6]:
movies_df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/bechdel/movies.csv')

In [7]:
movies_df[:2]b

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
1,2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0,1.0,1.0

As we can see there

### View and Select

* dtypes

### Mapping booleans

In [24]:
binary = movies_df['binary']
binary

0       FAIL
1       PASS
2       FAIL
3       FAIL
4       FAIL
        ...
1789    FAIL
1790    FAIL
1791    FAIL
1792    FAIL
1793    PASS
Name: binary, Length: 1794, dtype: object

In [25]:
binary.value_counts()

FAIL    991
PASS    803
Name: binary, dtype: int64

### Working with Categories

### Other conversions

* to numeric

* to datetime